
p {
  display: inline;
}

.title {
  text-align: center;
  margin: 0 auto;
  color:#4bb30f;
  font-size: 10px;
  
}

.infoForm {
  margin: 0 auto;
}

.jumbo {
  width: 100%;
  height: 257px;
  border: 2px solid green
}

.results-div {
  height: 275px;
  text-align: center;
  background-color: rgb(225, 228, 222); 
 
}

.form-elements {
  margin-top: 50px;
}

.result-header {
  margin-top: 40px;
 
}

input[type="text"]::placeholder {  
  text-align: center; 
}
